debug: true
api_host: http://localhost:21465    #your wppconnect server host
secret_key: THISISMYSECRETKEY    #your secret key
session_name: dev   #session_name
environment: dev    #dev or prod
fastapi_port: 8000   #fastapi port
fastapi_host: 0.0.0.0 #fastapi host 
dev_phone: 999999999 #prevent send messages for others
token_file_path: ./src/data/sessions.txt
database:
    user: root
    password: root
    host: localhost
    port: 3306
    database: wppconnect
    echo: false